root{
--azul:
--azul-forte:
--amarelo:
laranja:
--branco:
--titulo: "Bitcount prop Double ink", system-ui;
--texto:"share Tech", sans-serif;
}
body{
    background-color: var aqua;
    font-family: var(texto);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}



button{
background-color: var(--azul-forte);
color: azure;
padding: 10px;
border: 2px solid var azure;
border-radius: 8px;
font-size: 20px;
margin: 5px;

}
button:hover{
    background-color: var rgb(0, 34, 255);
    transition: 0.5s;
    border: #000;
    box-shadow: 2px 2px 10px #000;
}
main{
    margin: 40px 20px;
    max-width: 90%;
    text-align: center;
    font-size: 28px;
}
.passo{
    display: none;
}

.ativo{
    display: block;
}